/* body {
  background-color: #efefef;
  font-family: Arial;
  color: #333;
  line-height: 1.4em;
}

main {
  width: 800px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
}

#image {
  width: 800px;
}

#cat {
  height: 100px;
  width: 300px;
  line-height: 100px;
  text-align: center;
  color: #fff;
  margin-right: auto;
  margin-left: auto;
}

aside {
  width: 250px;
}

article {
  width: 525px;
}

ul {
  list-style-type: none;
}

.hide-menu {
  display: none;
}

.show-menu {
  display: block;
} */
